<h1> Création d'une visite</h1>
<div class="form-container">
  <form [formGroup]="formulaireForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Remarques</mat-label>
      <input matInput formControlName="Remarques">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Manifestation</mat-label>
      <input matInput formControlName="manifestation">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Accompagnateur</mat-label>
      <input matInput formControlName="acc">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Etablissement</mat-label>
      <mat-select formControlName="selectedEtablissementsControl">

        @for (etablissement of etablissements; track etablissement.id) {
          <mat-option [value]="etablissement">{{ etablissement.nom }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Référent</mat-label>
      <mat-select formControlName="selectedReferantControl">
        @for (ref of referants; track ref.id) {
          <mat-option [value]="ref">{{ ref.nom }} {{ ref.prenom }}</mat-option>
        }
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>Jeux</mat-label>
      <mat-select formControlName="jeux" multiple>
        @for (jeu of jeux; track jeu.idJeu) {
          <mat-option [value]="jeu">{{ jeu.nom }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Niveaux</mat-label>
      <mat-select formControlName="niveau">
        @for (niveau of niveaux; track niveau) {
          <mat-option [value]="niveau.niveau">{{ niveau.niveau }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button id="submit" mat-raised-button type="submit">Soumettre</button>
  </form>

  <h1>{{visit?.accompagnateur}}</h1>
</div>
