<h1> Création d'une visite</h1>
<div class="form-container">
  <form [formGroup]="formulaireForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="nom">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Accompagnateur</mat-label>
      <mat-select formControlName="sexe">
        @for (referant of referants; track referant) {
          <mat-option [value]="referant.id">{{ referant.prenom }} {{ referant.nom }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Etablissements</mat-label>
      <mat-select formControlName="selectedEtablissementsControl" multiple>

        @for (etablissement of etablissements; track etablissement.id) {
          <mat-option [value]="etablissement.id">{{ etablissement.nom }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button id="submit" mat-raised-button type="submit">Soumettre</button>
  </form>
</div>
